@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  @apply text-[80%] md:text-[100%];
  scroll-behavior: smooth;
}

a.active {
  @apply text-primary;
}
.text-highlight {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#2F45BC] to-[#4F349F];
}
.min-h-main {
  min-height: calc(100vh - 7.5rem);
}
